*{
    background-color: #157;
}
#titulo{
    font-family: 'Delicious Handrawn',cursive;
    font-size: 88px;
    height: 90px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 40px;
}
h2{
    font-family: 'Delicious Handrawn',cursive;
    font-size: 50px;
    height: 90px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 4px;
    display: inline-block;
    color: #995;
}
.carousel{
    margin-bottom: 40px;
}
#parrafo{
    font-family: 'Delicious Handrawn',cursive;
    background-color: rgb(30, 51, 215);
    height: 180px;
    box-shadow: 10px 5px 5px black;
    font-size: 30px;
    color: #995;
    margin-left:10px;
    margin-bottom: 15px;
}
#parrafo:hover{
   animation:parrafoAnimacion 5s;
}
@keyframes parrafoAnimacion {
    0%{
        transform: translateY(-15px) rotate(3deg);
    }
    5%{
        transform: translateY(15px) rotate(-3deg);
    }
    50%{
        transform: translateY(-15px) rotate(3deg);
    }
    75%{
        transform: translateY(15px) rotate(-3deg);
    }
}
#titulo:hover{
    animation: tituloAumento 3s;    
}
@keyframes tituloAumento {
    0%{
        font-size: 88px;
        color: #147;
    }
    5%{
        font-size: 89px;
        color: #149;
    }
    50%{
        font-size: 90px;
        color: #14A;
    }
    75%{
        font-size: 91px;
        color: #14B;
    }
    100%{
        font-size: 91px;
        color: #14c;
    }
}
.carousel-inner{
    box-shadow: 10px 5px 5px black;
}
#boton{
    box-shadow: 10px 5px 5px black;
}
#impacto:hover{
    font-size: 52px;
}
.parrafoModal{
    font-size: 25px;
    font-family: 'Delicious Handrawn',cursive;
}
.contenedorImgModal{
    box-shadow: 10px 5px 5px black;
}